@media screen and (max-width: 861px){
/* ++++++++++ HAMBURGUESA ++++++++++ */
.check{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0; /*con esto escondemos la casilla de selección; en este caso el display none no nos valdria ya que nos colapsaria el elementos completo y no nos dejaria pulsar*/
}
.check:checked ~ #menu{ /*NO tiene que haber espacio despues de los dos puntos; con la virgulila selecciono a los elementos del mismo nivel; alt + ñ*/
    left: 0;
    transition: 1s;
}
#menu {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    transition: 1s;
    background-color: white;
}
ul#menu {
    border: 3px solid black;
}
ul.sub {
    margin-left: 30px;
}
#flag{
    display: none;
}
.menu-toogle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    right: 15px;
    top: 15px;
    border: none;
}
.menu-toogle span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    margin: auto;
    background: #282828;
}
.menu-toogle span:before,
.menu-toogle span:after{/*'before' y 'after' se usan para poner algo antes o despues del menu hamburguesa*/
    position: absolute;
    width: inherit;
    height: inherit;
    content: '';
    background: #282828;
    left: 0;
}
.menu-toogle span:before{
    top: -0.6em;
}
.menu-toogle span:after{
    bottom: -0.6em;
}
/*++++++++++ ANIMATION HAMBURGUESA +++++++++*/
#flag:checked + .menu-toogle span{/*'checked' es cuando el usuario clique; 'toogle' significa alternar, cambiar o conmutar; 'span' es el que hace que tenga las rayas; cuando el usuario clique, la linea central se quita*/
    background: none;
}
.menu-toogle span{/*retasamos el efecto 0.25s*/
    transition: background 0s .25s;
}
.menu-toogle span:before{
    -webkit-transition-property: top, transform;
    transition-property: top, transform; /*'transform' es el GIRO, cuando la linea se convierte en aspa*/
}
.menu-toogle span:after{
    -webkit-transition-property: bottom, transform;
    transition-property: bottom, transform;
}
#flag:checked + .menu-toogle span:before{
    top: 0; /*0 es la linea central de la hamburguesa; aqui estamos diciendole a la linea de ARRIBA que vaya hasta la linea del centro*/
    -webkit-transform: rotate(45deg);/*esto es el giro en diferentes navegadores*/
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#flag:checked + .menu-toogle span:after{
    bottom: 0; /*0 es la linea central de la hamburguesa; aqui estamos diciendole a la linea de ABAJO que vaya hasta la linea del centro*/
    -webkit-transform: rotate(-45deg); /* esto es el giro en diferentes navegadores*/
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#flag:checked + .menu-toogle span:before,
#flag:checked + .menu-toogle span:after{
    -webkit-transition-delay: 0s, .25s;
    transition-delay: 0s, .25s; /*que no se retrase nada en hacer el bottom y el top, pero que se retrase 25s haciendo el aspa*/
}
.menu-toogle span:before,
.menu-toogle span:after{
    -webkit-transition-delay: .25s, 0s;
    -webkit-transition-duration: .25s, .25s;
    transition-delay: .25s, 0s;
    transition-duration: .25s, .25s;
}
/*+++++++++++++++ NAV ++++++++++++++++++*/
#flag:checked ~ #menu{
    left: 0px;
}
li{
	background-color: white;
}
}