@media screen and (min-width: 862px){
.tit {
    width: 10vw;
    margin: 0;
}
a.menu {
    text-decoration: none;
    color: black;
    padding: 0;
    display: block;
    height: 40px;
    text-align: left;
}
#menu {
    background-color: transparent;
}
#menu > li {
    float: right;
    text-align: center;
    margin: 20px 20px;
}
#menu li:hover > .sub{
	display: block;
}
.sub a {
    padding: 10px 10px;
}
.sub a:hover{
  	background-color: black;
  	color: white;
}
#menu {
    overflow: hidden;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: -10px;
    left: 0;
}
#menu li .sub {
    position: absolute;
    height: 28vh;
    top: 55px;
    width: 25%;
    margin: 0;
    text-align: left;
    display: none;
}
#menu li .sub li {
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}
#menu li:hover > .sub{
	display: block;
}
/* ++++++++++ HAMBURGUESA ++++++++++ */
input#flag {
    display: none;
}
/* ++++++++++ CABECERA ++++++++++ */
.fondo_cabecera {
    background-image: url("../../img/img_home/hero.jpg");
}
a {
    padding: 0;
}
a.menu:hover{
	color: #59BCB9;
}
ul#menu {
    border: none;
    float: right;
    height: 280px;
}
li {
    background-color: none;
}
.fondo_cabecera h1 {
    font-size: 4.5rem;
}
section#info_festival {
    padding: 100px 20%;
}
/* ++++++++++ CARTEL ++++++++++ */
section#lineup {
    text-align: center;
}
#lineup img {
    width: 50%;
}
/* ++++++++++ SONIDO ++++++++++ */
.player__alabum img {
    width: 100%;
}
h4#h4sonido {
    padding: 0 20%;
}
/* ++++++++++ VENUE ++++++++++ */
h4#h4venue {
    padding: 0 20%;
}
/* ++++++++++ FOOTER ++++++++++ */
a.legal {
    display: inline;
    margin: 0 15px;
}
}