@media screen and (min-width: 862px){
/*.tit {
    width: 10vw;
    margin: 0;
}*/
.tit {
    width: 30px;
    float: left;
}
a.menu {
    text-decoration: none;
    color: black;
    padding: 0;
}
#menu {
    background-color: transparent;
}
#menu > li {
    float: right;
    text-align: center;
    margin: 17px 20px;
}
#menu li:hover > .sub{
	display: block;
}
ul#menu {
    border: none;
    float: right;
    height: 280px;
}
a.menu {
    display: block;
    text-decoration: none;
    height: 40px;
    padding: 0px 0px;
    color: black;
}
.sub a {
    padding: 10px 10px;
}
.sub a:hover{
  	background-color: black;
  	color: white;
}
#menu {
    overflow: hidden;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: -10px;
    left: 0;
}
#menu li .sub {
    position: absolute;
    height: 28vh;
    top: 55px;
    width: 25%;
    margin: 0;
    text-align: left;
    display: none;
}
#menu li .sub li {
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
}
#menu li:hover > .sub{
	display: block;
}
/* ++++++++++ HAMBURGUESA ++++++++++ */
input#flag {
    display: none;
}
/* ++++++++++ HASTA AQUI EL MENU HAMBURGUESA ++++++++++ */
a {
    padding: 0;
}
a.menu:hover{
    color: #59BCB9;
}
li {
    background-color: none;
}
h1 {
    font-size: 3em;
}
/* ++++++++++ FOOTER ++++++++++ */
a.legal {
    display: inline;
    margin: 0 15px;
}
}
